.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.UsernamePage {
  min-height: 90vh;
  display: "flex";
  flex-direction: "column";
  justify-content: "center";
  align-items: "center";
}

.Username {
  padding: 10%;
}

.Nomination {
  padding: 5% 10% 5% 10%;
}

.ChoiceContainer {
  display: "flex";
  flex-grow: 1;
  padding: 10px 20px;
  max-height: 80vh;
  overflow-y: scroll;
}

.Choice {
  margin: 10px;
  border: 1px dashed grey;
  height: 40px;
  line-height: 40px;
  flex-grow: 10;
}

.Button {
  background-color: 'blue';
  max-height: 10vh;
}
